.RadioStreams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    height: 65px;
}

.RadioStreams video {
    display: none;
}

.StreamBlock {
    background-position: 50%;
    background-size: cover;
    box-shadow: 0 0 20px #00000063;
    width: 19%;
    margin: auto;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    transition: height .5s ease-in-out, transform .5s ease-in-out, z-index 2s cubic-bezier(0,1,1,0), box-shadow .5s ease-in-out;
    height: 65px;
    transform: skewY(0);
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ffffff24;
    z-index: 2;
}

.RadioStreams .background {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(4px) saturate(0);
    transition: filter 2s;
}

.StreamBlock:hover > .background { 
    filter: blur(0) saturate(1);
    transition: filter .5s;
}

.StreamBlock:hover {
    transform: skewY(-.8deg) scale(1.5);
    cursor: pointer;
    height: 100px;
    transition: height .5s ease-in-out, transform .5s ease-in-out, z-index 0s cubic-bezier(0,1,1,0), box-shadow .5s ease-in-out;
    z-index: 5;
    box-shadow: 0 0 20px #00000094;
}

.StreamBlock:hover > .StreamTitle { 
    mix-blend-mode: lighten;
}

.StreamTitle, .StreamDesc {
    font-size: 15px;
    mix-blend-mode: unset;
    font-weight: 400;
}

.StreamTitle {
    margin-bottom: 5px;
    padding: 3px 6px;
    width: fit-content;
    font-size: 15px;
    border-radius: 2px 2px 0 0;
    width: auto;
    font-weight: 600;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.StreamDesc {
    background: linear-gradient(90deg, black, transparent);
    padding-left: 5px;
    width: 80%;
}

.MusicBars {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 96.5%;
    height: 20px;
    bottom: 0px;
    padding: 0 3px;
}

.MusicBars span {
    width: 3px;
    height: 100%;
    background-color: orange;
    border-radius: 3px;
    transform-origin: bottom;
    animation: bounce 2.2s ease infinite alternate;
    content: '';
}

.MusicBars span:nth-child(2n) {
    animation-delay: -2.2s;
}

.MusicBars span:nth-child(3n) {
    animation-delay: -3.7s;
}

.MusicBars span:nth-child(4n) {
    animation-delay: -2.7s;
}

.MusicBars span:nth-child(5n) {
    animation-delay: -4.3s;
}
.MusicBars span:nth-child(6n) {
    animation-delay: -1.9s;
}
.MusicBars span:nth-child(7n) {
    animation-delay: -2.2s;
}










@keyframes bounce {
    10% {
      transform: scaleY(0.3); /* start by scaling to 30% */
    }
  
    30% {
      transform: scaleY(1); /* scale up to 100% */
    }
  
    60% {
      transform: scaleY(0.5); /* scale down to 50% */
    }
  
    80% {
      transform: scaleY(0.75); /* scale up to 75% */
    }
  
    100% {
      transform: scaleY(0.6); /* scale down to 60% */
    }
}

@media screen and (max-width: 1145px) { 
    .RadioStreams {
        overflow-x: scroll;
        margin: 10px;
        border-radius: 6px;
    }
    .StreamBlock {
        min-width: 30%;
        margin-right: 10px;
        height: 60px;
    }

    .StreamBlock:hover {
        transform: none;
        transition: none;
        height: 60px;
    }
}