@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
  font-family: 'Rubik';
  color: white;
}

#root {
  width: 100%;
}

li svg {
  box-shadow: 0 0 20px #00000063;
}

#links li svg {
  height: 24px !important;
}

.MainFrame, body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(285deg, #25282e, #ffffff1a);
  background-color: black;
  backdrop-filter: brightness(0.2);
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

.roles {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.RoleIcon {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff24;
  background: #393c4257;
  font-size: 14px;
  border-radius: 100px;
  padding-right: 10px;
  text-decoration: none;
  box-shadow: 0 0 20px #00000063;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.Rolefa {
  background: #ffffff12;
  border-radius: 100px;
  padding: 10px;
  margin-right: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 13px;
}

.main {
  margin: auto;
  min-height: 80%;
  width: 1000px;
}

.HeadBlock {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 7%;
  align-items: center;
  margin-bottom: 20px;
}

.HeadBlock #links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.subs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}


.footer {
  position: fixed;
  bottom: 10px;
  font-size: small;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  margin: 2%;
}

nav {
  width: 300px;
  display: flex;
}

.post {
  margin-left: 10px;
}

#post_title svg {
  height: 14px !important;
}

.post #body {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 14px;
}

.post #body img {
  margin: auto;
  border-radius: 2px;
  width: auto;
}

.preview-container {
  display: flex;
  width: 99.75%;
}

#post_title {
  font-size: 14px;
}

#GreenCode {
  font-family: "IBM Plex Mono";
  color: #8dffba;
}

.post #GreenCode {
  font-size: 14px;
}

.post #close {
  font-size: 30px;
  margin: auto;
  width: 100%;
  box-shadow: none;
}

.content {
  max-height: 0;
  overflow: hidden;
}

.expanded {
  max-height: 5000px;
}

.content-inner {
  transition: max-height 1s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.expanded-inner {
  max-height: 2000px;
}


#Code {
  font-family: "IBM Plex Mono";
}

.CommitText {
  font-size: 12px;
}

.recent #post_title:hover {
  cursor: pointer;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
  width: inherit;
  justify-content: space-between;
  justify-content: space-between;
}

ul {
  padding-left: 0 !important;
}

nav li {
  width: 4rem;
  height: unset;
  font-size: 40px;
  position: relative;
  display: flex;
}

nav li::before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 15px;
}

nav li::before {
  z-index: -1;
}



nav li:hover {
  color: white;
}

nav li:hover::before {
  background-color: #3f475e;
}

ul {
  list-style: none;
}

ul li {
  position: relative
}

ul li:last-child span:before {
  content: none;
}

ul li:last-child {
  padding-bottom: 0 !important;
}

.recent {
  border: 1px solid #ffffff1f;
  background-color: #ffffff05;
  box-shadow: 1px 1px 20px 2px #00000029;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}

.repos {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.repos li {
  width: auto;
  max-width: 49%;
}

.ReposFrm {
  padding: 5px 0;
  width: 100%;
}

.Repo {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff1f;
  padding: 10px;
  border-radius: 2px;
  height: 115px;
  background-color: #ffffff05;
  box-shadow: 1px 1px 20px 2px #00000029;
}

.Repo #inner {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.Repo #inner #text,
.Repo #inner #one,
.Repo #inner #two {
  display: flex;
  flex-direction: column;
  padding: 5px 4px;
  padding-top: 0;
  justify-content: flex-start;
}

.Repo #inner #frm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Repo #inner #two {
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
}

.Repo #language {
  font-weight: 0;
}

.Repo #language svg {
  margin-right: 5px;
}

.Repo #inner img {
  height: 115px;
  width: 115px;
  border-radius: 2px;
}

.Repo #name {
  font-size: 20px;
  margin-bottom: 3px;
}

.Repo #desc {
  font-size: 14px;
}

#headtext {
  display: grid;
}

#aboutme {
  width: 80%;
}

#section {
  margin-bottom: 25px;
  background: #ffffff0d;
  border: 1px solid #ffffff24;
  border-radius: 2px;
  box-shadow: 0 0 20px #00000063;
}

.GallerySection {
  margin-bottom: 15px !important;
}

#section .head, #section .RadioTitle {
  background: #36383d;
  padding: 7px;
  border: 1px solid #ffffff24;
  border-radius: 2px;
  font-size: 15px;
  box-shadow: 0 0 20px #00000063;
  border-bottom: none;
  border-left: none;
  border-right: none;
}


@media screen and (max-width: 1145px) {

  #aboutme {
    width: 100%;
  }

  .main {
    width: 100%;
    height: unset !important;
  }

  .post #body img {
    width: 100%;
  }

  #inner #top {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .recent li {
    padding-bottom: 26px !important;
  }

  nav li {
    height: 3.5rem;
    font-size: 3rem;
    text-align: center;
    line-height: 3.8rem;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    margin: 1rem;
    justify-content: center;
  }

  .repos li {
    width: 45%;
  }

  nav ul {
    display: flex;
    height: 60px;
  }

  #headtext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subs {
    padding: 10px;
  }

  #section {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .repos {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .Repo #inner img {
    border-radius: 6px 5px 0 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Repo #inner #text,
  .Repo #inner #one,
  .Repo #inner #two {
    padding: 5px;
    font-size: 10px;
  }

  .Repo #desc {
    font-size: 12px;
  }

  .Repo {
    margin: 0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 0;
  }

  .Repo #inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .MainFrame, body {

    min-height: 80vh;
    background: linear-gradient(285deg, #25282e, #ffffff1a);
    background-size: fixed;
  }

  .footer {
    font-size: large;
  }

  .main {
    margin-bottom: 15%;
  }

  .HeadBlock {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .HeadBlock #links {
    display: flex;
    flex-direction: column;
  }

  #post_title {
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #post_time {
    font-size: 3.5vw;
  }

  .post #GreenCode {
    font-size: 12px;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #inner #top {
    width: 100%;
    height: 150px;
  }

  .Repo #name {
    font-size: 14px;
  }




}